body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ddd;
    @include setSize(100vw, 100vh);
    #app{
        background: #eee;
        @include setSize(500px, auto);
        min-height: 55px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 1px 1px 1px 0 rgba(0,0,0,.25);
        transition: .3s $cubic-FiSo;
        .chapter{
            display: flex;
            margin: 5px 0 15px;
        }

        &:hover{ box-shadow: 1px 1px 20px 0 rgba(0,0,0,.35); }
    }

    .chapter{
        p{
            display: flex;
            align-items: center;
            margin: 0 0 0 8px;
        }
    }

    .Btn{
        background: #E5E5E5;    
        @include setSize(80px , 30px);
        user-select: none;
        outline: none;
    }
}